.nav-container a.level-top:before {right: auto; left: 0;}
header#header h2.logo {margin-right: 0; margin-left: 86px;}
.text-banner .text-banner-content.skin-2 {text-align: right; right: 7%; left: auto;}
