<?xml version="1.0"?>
<config>
	<modules>
		<Bongo_Checkout>
			<version>0.1.0</version>
		</Bongo_Checkout>
	</modules>
	<global>
		<blocks>
			<bongocheckout>
				<class>Bongo_Checkout_Block</class>
			</bongocheckout>
		</blocks>
		<models>
			<bongocheckout>
				<class>Bongo_Checkout_Model</class>
			</bongocheckout>
		</models>
        <resources>
            <bongocheckout_setup>
                <setup>
                    <module>Bongo_Checkout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bongocheckout_setup>
            <bongocheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bongocheckout_write>
            <bongocheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bongocheckout_read>
        </resources>
		<helpers>
			<bongocheckout>
				<class>Bongo_Checkout_Helper</class>
			</bongocheckout>
		</helpers>
		<events>
			<sales_order_shipment_save_after>
				<observers>
					<bongocheckout_shipment>
						<type>singleton</type>
						<class>bongocheckout/shipping_observer</class>
						<method>sendDomesticTracking</method>
					</bongocheckout_shipment>
				</observers>
			</sales_order_shipment_save_after>
		</events>
	</global>
    <crontab>
        <jobs>
            <bongocheckout_sync_cron>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>bongocheckout/products_sync::cron</model></run>
            </bongocheckout_sync_cron>
        </jobs>
    </crontab>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<bongocheckout after="Mage_Adminhtml">Bongo_Checkout_Adminhtml</bongocheckout>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<bongocheckout_config>
											<title>Bongo Checkout Configuration</title>
										</bongocheckout_config>
										<bongocheckout_products>
											<title>Bongo Checkout Product Management</title>
										</bongocheckout_products>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
			<modules>
				<Bongo_Checkout>
					<files>
						<default>Bongo_Checkout.csv</default>
					</files>
				</Bongo_Checkout>
			</modules>
		</translate>
		<layout>
			<updates>
				<bongocheckout>
					<file>bongocheckout.xml</file>
				</bongocheckout>
			</updates>
		</layout>
	</adminhtml>
	<frontend>
		<translate>
			<modules>
				<Bongo_Checkout>
					<files>
						<default>Bongo_Checkout.csv</default>
					</files>
				</Bongo_Checkout>
			</modules>
		</translate>
		<layout>
			<updates>
				<bongocheckout>
					<file>bongocheckout.xml</file>
				</bongocheckout>
			</updates>
		</layout>
		<routers>
			<bongocheckout>
				<use>standard</use>
				<args>
					<module>Bongo_Checkout</module>
					<frontName>bongocheckout</frontName>
				</args>
			</bongocheckout>
		</routers>
	</frontend>
	<default>
		<payment>
			<bongocheckout>
				<active>1</active>
				<model>bongocheckout/payment_standard</model>
				<order_status>pending</order_status>
				<title>Bongo International Payment</title>
				<allowspecific>0</allowspecific>
			</bongocheckout>
		</payment>
		<carriers>
			<bongocheckout>
				<active>1</active>
				<sallowspecific>0</sallowspecific>
				<model>bongocheckout/shipping_carrier_bongo</model>
				<title>Bongo</title>
				<name>International Shipping (excludes taxes)</name>
				<showmethod>0</showmethod>
				<sort_order>1</sort_order>
				<specificerrmsg><![CDATA[This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.]]>
				</specificerrmsg>
			</bongocheckout>
		</carriers>
		<bongocheckout_config>
			<config>
				<active>0</active>
				<country_manufacture>US</country_manufacture>
				<shipping_type>bongocheckout_free</shipping_type>
				<continue_msg><![CDATA[Your order is currently being processed.  It may take up to 10 minutes for you to receive your order confirmation email and for your order to show up in your account's order history.]]></continue_msg>
				<domestic_shipping>0.00</domestic_shipping>
				<allow_countries>AF,AX,AL,DZ,AS,AD,AO,AI,AQ,AG,AR,AM,AW,AU,AT,AZ,BS,BH,BD,BB,BY,BE,BZ,BJ,BM,BT,BO,BA,BW,BV,BR,IO,VG,BN,BG,BF,BI,KH,CM,CA,CV,KY,CF,TD,CL,CN,CX,CC,CO,KM,CG,CD,CK,CR,CI,HR,CU,CY,CZ,DK,DJ,DM,DO,EC,EG,SV,GQ,ER,EE,ET,FK,FO,FJ,FI,FR,GF,PF,TF,GA,GM,GE,DE,GH,GI,GR,GL,GD,GP,GU,GT,GG,GN,GW,GY,HT,HM,HN,HK,HU,IS,IN,ID,IR,IQ,IE,IM,IL,IT,JM,JP,JE,JO,KZ,KE,KI,KW,KG,LA,LV,LB,LS,LR,LY,LI,LT,LU,MO,MK,MG,MW,MY,MV,ML,MT,MH,MQ,MR,MU,YT,MX,FM,MD,MC,MN,ME,MS,MA,MZ,MM,NA,NR,NP,NL,AN,NC,NZ,NI,NE,NG,NU,NF,MP,KP,NO,OM,PK,PW,PS,PA,PG,PY,PE,PH,PN,PL,PT,PR,QA,RE,RO,RU,RW,BL,SH,KN,LC,MF,PM,VC,WS,SM,ST,SA,SN,RS,SC,SL,SG,SK,SI,SB,SO,ZA,GS,KR,ES,LK,SD,SR,SJ,SZ,SE,CH,SY,TW,TJ,TZ,TH,TL,TG,TK,TO,TT,TN,TR,TM,TC,TV,UG,UA,AE,GB,UY,UM,VI,UZ,VU,VA,VE,VN,WF,EH,YE,ZM,ZW</allow_countries>
			</config>
			<dc>
				<address1></address1>
				<address2></address2>
				<city></city>
				<state></state>
				<zip></zip>
				<country>US</country>
			</dc>
		</bongocheckout_config>
		<bongocheckout_products>
			<automated>
				<frequency>1</frequency>
			</automated>
		</bongocheckout_products>
	</default>
</config>