<?xml version="1.0"?>
<config>
    <modules>
        <ProvideSupport_livechats>
            <version>2.0.3</version>
        </ProvideSupport_livechats>
    </modules>
    <global>
        <models>
            <livechats>
                <class>ProvideSupport_livechats_Model</class>
                <resourceModel>livechats_mysql4</resourceModel>
            </livechats>
            <livechats_mysql4>
                <class>ProvideSupport_livechats_Model_Mysql4</class>
                <entities> 
                    <livechats>
                        <table>providelivechat</table>
                    </livechats>
                </entities>
            </livechats_mysql4>
          </models>
        <blocks>
			<livechats>
                <class>ProvideSupport_livechats_Block</class>
            </livechats>
        </blocks>
         <helpers>
            <livechats>
				<class>ProvideSupport_livechats_Helper</class>
			</livechats>
        </helpers>
        <resources>
            <providelivechat_setup>
                <setup>
                    <module>ProvideSupport_livechats</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </providelivechat_setup>
            <livechats_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </livechats_write>
            <livechats_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </livechats_read>
        </resources>
    </global>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <ProvideSupport_livechats_core_block_abstract_to_html_before>
                        <type>singleton</type>
                        <class>ProvideSupport_livechats_Model_Observer</class>
                        <method>insertBlock</method>
                    </ProvideSupport_livechats_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
         </events>
    </frontend>
    <admin>
       <routers>
            <ProvideSupport_livechats>
                <use>admin</use>
                <args>
                    <module>ProvideSupport_livechats</module>
                    <frontName>livechats</frontName>
                </args>
            </ProvideSupport_livechats>
       </routers>
    </admin>
	<adminhtml>
		<menu>
	        <livechats translate="title" module="livechats">
	   	        <title>Provide Support Live Chat</title>
    	        <sort_order>1000</sort_order>
            	<children>
                	<settings translate="title" module="livechats">
    	                <title>Settings</title>
                        <action>livechats/admin/settings</action>
        	            <sort_order>0</sort_order>
            	    </settings>
					<help translate="title" module="livechats">
	                    <title>Help</title>
                        <action>livechats/admin/help</action>
	                    <sort_order>20</sort_order>
	                </help>
    	        </children>
        	</livechats>
		</menu>
    <acl>
      <resources>
        <admin>
          <children>
            <livechats translate="title" module="livechats">
                <title>Provide Support Live Chat</title>
                <sort_order>2000</sort_order>
                <children>
                    <settings translate="title" module="livechats">
                        <title>Settings</title>
                        <action>livechats/admin/settings</action>
                        <sort_order>0</sort_order>
                    </settings>
                    <help translate="title" module="livechats">
                        <title>Help</title>
                        <action>livechats/admin/help</action>
                        <sort_order>30</sort_order>
                    </help>
                </children>
            </livechats>
          </children>
        </admin>
      </resources>
    </acl>
	</adminhtml>
</config>
