<?xml version="1.0"?>
<config>
	<modules>
		<Meigee_MeigeewidgetsBizarre>
			<version>0.0.1</version>
		</Meigee_MeigeewidgetsBizarre>
	</modules>
	<global>
		<helpers>
			<meigeewidgetsbizarre>
				<class>Meigee_MeigeewidgetsBizarre_Helper</class>
			</meigeewidgetsbizarre>
		</helpers>
		<blocks>
			 <meigeewidgetsbizarre>
				<class>Meigee_MeigeewidgetsBizarre_Block</class>
			 </meigeewidgetsbizarre>
		</blocks>
		<models>
			<!-- ... -->
			<meigeewidgetsbizarre>
				<class>Meigee_MeigeewidgetsBizarre_Model</class>
			</meigeewidgetsbizarre>   
			<!-- ... -->
		</models>
	</global>
	<!---->
	<frontend>
		<layout>
			<updates>
				<meigeewidgetsbizarre>
					<file>meigee/widgetoptions.xml</file>
				</meigeewidgetsbizarre>
			</updates>
		</layout>
	</frontend>
</config>